.plus {
  display: inline-block;
  width: 22px;
  height: 22px;
  background-color: #000000;
  color: #51ff00;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  border-radius: 35%;
  margin-right: 5px;
}

.minus {
  display: inline-block;
  width: 22px;
  height: 22px;
  background-color: #000000;
  color: #ff0000;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  border-radius: 35%;
  margin-right: 5px;
}

.toDoItem {
  display: flex;
  align-items: center;
  justify-content: center;
}
