.Title {
  color: rgb(222, 227, 248);
  text-shadow: 6px 3px 3px rgba(0, 0, 0, 0.5);
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(12, 155, 196, 0.7987570028011204) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}
.Card {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  min-height: 550px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(118, 146, 147, 1) 50%,
    rgba(0, 212, 255, 1) 100%
  );
  width: 550px;
}
.plus {
  display: inline-block;
  width: 22px;
  height: 22px;
  background-color: #000000;
  color: #51ff00;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  border-radius: 35%;
}
.plusArrow {
  display: flex;
  align-items: center;
  justify-content: center;
}
